#c-b-profile-pg {
    width: 65%;
    min-height: 800px;
    margin: 0 auto 20px auto;
    background: transparent;
    border-radius: 0.5rem;
}

#u-r-profile-pg {
    width: 100%;
    height: 225px;
    display: flex;
    background: rgba(255,255,255,0.5);
    align-items: center;
    justify-content: center;
}

#p-p-profile-pg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#n-u-profile-pg {
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 150px;
}

#m-r-profile-pg {
    display: flex;
    background: #FAFAFA;
    height: max-content;
    justify-content: space-around;
    font-weight: 700;
}


.l-n-profile-pg {
    transition: all 0.2s linear;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    text-align: center;
    flex: 1;
}

.l-n-profile-pg:hover {
    color: #3D5AFE;
}

#l-r-profile-pg {
    width: 100%;
    min-height: 600px;
    background: rgba(255,255,255);
}
