#c-b-profile-pg {
    width: 65%;
    min-height: 800px;
    margin: 0 auto 20px auto;
    background: transparent;
    border-radius: 0.5rem;
}

#u-r-profile-pg {
    width: 100%;
    height: 225px;
    display: flex;
    background: rgba(255,255,255,0.5);
    align-items: center;
    justify-content: center;
}

#p-p-profile-pg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#n-u-profile-pg {
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 150px;
}

#m-r-profile-pg {
    display: flex;
    background: #FAFAFA;
    height: max-content;
    justify-content: space-around;
    font-weight: 700;
    border: 1px solid #ECEFf1;
}


.l-n-profile-pg {
    transition: all 0.2s linear;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    text-align: center;
    flex: 1;
}

.l-n-profile-pg:hover {
    color: #3D5AFE;
}

#l-r-profile-pg {
    width: 100%;
    min-height: 600px;
    background: rgba(255,255,255,0.9);
    padding: 30px;
}

#l-r-profile-pg > #m-b-st-element {
    width: 60%;
    margin-top: 0;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

#l-r-profile-pg > #s-element-wrapper {
    width: 50%;
    margin-top: 0;
    min-height: 120px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

#b-c-profile-pg {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#b-c-profile-pg > div {
    width: 65%;
    text-align: center;
    padding: 20px 30px;
    margin: 10px auto;
    background: #ECEFF1;
    border-radius: 2rem;
}

#b-c-profile-pg > p {
    width: 65%;
    text-align: center;
    padding: 20px 30px;
    margin: 10px auto;
    background: #ECEFF1;
    border-radius: 2rem;
}

#a-c-profile-pg > div {
    text-align: center;
    width: 30%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 20px 30px;
    margin: 50px auto 30px auto;
    border-radius: 2rem;
    background: #ECEFF1;
}

#e-pic-profile-pg {
    width: 39px;
    margin: 30px auto 0 auto;
    cursor: pointer;
}

#e-d-profile-pg {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#t-a-profile-pg {
    width: 100%;
    margin-top: 5px;
    min-height: 100px;
    margin-bottom: 5px;
}

#i-a-profile-pg {
    width: 50%;
    margin-bottom: 30px;
}

#e-d-profile-pg > button {
    display: block;
}

#n-b-dt-yt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#n-b-dt-yt {
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    background: white;
    width: 50%;
    text-align: center;
    padding: 30px;
    border-radius: 2rem;
}