#m-b-st-element {
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 2rem;
    background: white;
    margin: 20px auto;
    min-height: 170px;
}

.t-st-element {
    font-size: 1.5rem;
    display: inline;
}

.t-st-element > a {
    display: inline;
}

.t-st-element > a:hover {
    color: #3d5afe;
}

.n-st-element {
    font-size: 1.1rem;
    margin-left: 10px;
    display: inline;
}

.n-st-element > a {
    display: inline;
}

.n-st-element > a:hover {
    color: #3d5afe;
}

#m-b-st-element > button {
    width: 90px;
    transform: scale(0.8,0.8);
}