#recBoxWrapper {
    padding: 5px;
    height: 83px;
    width: 65%;
    margin: 10px auto;
    background: white;
    border: lightgrey 1px solid;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    animation: fadeEntry 1s ease-out alternate 1 backwards running;
    overflow-x: auto;
}

#userRecBoxLoaderWrapper {
    margin: 0 auto;
    transform: scale(1.2,1.2);
}

#userRecBoxLoaderWrapper > div {
    background-color: dodgerblue;
}


@keyframes fadeEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}