#userListWrapper{
    display: flex;
    align-items: center;
}

#userListWrapper > span {
    margin-left: 7px;
}

#g-l-img{
    width: 30px;
    position: absolute;
    cursor: pointer;
    left: calc(17.5vw - 46px);
    opacity: 0;
    transition: all 0.3s ease-in;
}

#g-r-img{
    width: 30px;
    position: absolute;
    cursor: pointer;
    right: calc(17.5vw - 46px);
    opacity: 0;
    transition: all 0.3s ease-in;
}

#g-l-img:hover {
    opacity: 100;
}

#g-r-img:hover {
    opacity: 100;
}