#topMostBar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    transition: height 0.5s ease-in-out;
}

#galaxyPic {
    display: block;
    margin-left: 5px;
    height: 40px;
    width: 40px;
}

#logoText {
    font-size: 37px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
}

#searchWrapper {
    display: none;
    margin-top: 20px;
    margin-left: calc(50% - 240px);
    animation: fadeEntry 1.5s ease-out 0.5s alternate 1 backwards running;
}

#searchGlassImage {
    height: 30px;
}

#searchBox {
    height: 30px;
    width: 450px;
    display: block;
    font-family: 'Consolas', monospace;
    font-size: 1rem;
    font-weight: normal;
    padding: 0 10px 0 10px;
    outline: none;
    background-color: rgb(255,255,255);
}

#profilePic {
    display: block;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

#searchOpenImage {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

@keyframes fadeEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#goHomeBtn {
    display: none;
    height: 27px;
    width: 27px;
    margin-right: 5px;
}
