#greetBox {
    display: flex;
    height: 30px;
    background-color: rgb(255,255,255);
    width: calc(100vw);
}

#composeLink {
    font-family: 'Consolas', monospace;
    font-weight: normal;
    margin-right: 15px;
    align-self: center;
}
#greeting {
    font-family: 'Consolas', monospace;
    font-weight: normal;
    margin-left: 15px;
    align-self: center;
}
