#o-box-search-pg {
    background: transparent;
}

#m-box-search-pg {
    width: 50%;
    margin: 10px auto;
    background: rgba(255,255,255,0.9);
    border-radius: 0.7rem;
    padding: 10px;
}

#t-box-search-pg {
    display: flex;
    border-bottom: 1px solid black;
    max-width: 80%;
    margin: 20px auto 30px auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    padding: 20px;
    align-items: center;
}

#r-box-search-pg {
    font-family: 'Comfortaa', cursive;
}