#o-box-search-pg {
    background: #FAFAFA;
}

#m-box-search-pg {
    width: 65%;
    margin: 10px auto;
    background: white;
    border-radius: 3rem;
    padding: 10px;
}

#t-box-search-pg {
    display: flex;
    border-bottom: 1px solid black;
    max-width: 75%;
    margin: 20px auto 30px auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    padding: 20px;
    align-items: center;
}

#r-box-search-pg {
    font-family: 'Comfortaa', cursive;
}