#m-b-hd-bar {
    align-items: center;
    width: 100%;
    background: #0E0D0D;
    /*height: max-content;*/
    height: 60px;
    color: white;
    font-family: 'Caveat', cursive;
    padding: 5px 10px;
    z-index: 999;
    border-bottom: 7px white solid;
}

#m-b-hd-bar > a {
    color: #FEFDFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
}

#i-hd-bar {
    height: 37px;
    width: 37px;
}