#m-b-compose-pg {
    background: transparent;
}

#e-wrap-compose-pg {
    width: 65%;
    margin: 20px auto;
    background: rgba(255,255,255,0.9);
    padding: 60px 60px 20px 60px;
}

#t-e-compose-pg {
    display: flex;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;
}

#t-e-compose-pg > input {
    flex: 1;
    margin-left: 10px;
    font-family: 'Vollkorn', serif;
}

#s-e-compose-pg {
    display: flex;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;
}

#s-e-compose-pg > input {
    flex: 1;
    margin-left: 10px;
    font-family: 'Vollkorn', serif;
}

#b-c-compose-pg {
    margin-top: 20px;
}

#b-c-compose-pg > button{
    margin: 10px auto;
    display: block;
}
