#m-b-tag-browser {
    background: transparent;
}

#c-w-tag-browser {
    width: 60%;
    min-height: 85vh;
    margin: 10px auto;
    background: rgba(255,255,255,0.9);
    border-radius: 0.5rem;
    padding: 10px 0;
}

#t-b-tag-browser {
    display: flex;
    border-bottom: 1px solid black;
    width: 85%;
    margin: 25px auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    padding: 20px;
    align-items: center;
}

#r-b-tag-browser {
    width: 65%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}

#c-w-tag-browser > span {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#nsy-gnr-bx {
    font-size: 1.1rem;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 1.5rem;
}