#upper {
    display: flex;
}

#title {
    font-size: 35px;
    line-height: 40px;
}

#title > a {
    color: black;
}

#title > a:hover {
    color: #448AFF;
}

#intro {
    font-size: 25px;
    line-height: 40px;
}

#intro > a {
    display: inline;
    color: black;
}

#intro > a:hover {
    color: #448AFF;
}

#timestamp {
    font-size: 20px;
    line-height: 40px;
}

#headings {
    display: flex;
    width: max-content;
    flex-direction: column;
}

#feedView {
    padding: 30px;
    border-radius: 2rem;
    background-color: white;
    margin-bottom: 40px;
    min-height: 320px;
    overflow-x: hidden;
}

#pPic {
    width: 150px;
    height : 150px;
    border-radius: 50%;
    border: 10px #EEEEEE solid;
    position: relative;
    top: -15px;
}

#p-pic-sk-ldg {
    display: inline-block;
    width: 150px;
    height : 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#summary {
    margin: 10px auto;
    font-size: 1.1rem;
}

#summaryContainer {
    height: 67px;
    overflow: hidden;
    position: relative;
}

#summaryContainer:after {
    content : "";
    position: absolute;
    z-index : 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(255,255,255, 0) 70%,
    rgba(255,255,255, 0.4) 80%,
    rgba(255,255,255, 0.5) 90%,
    rgba(255,255,255, 1.0) 100%);
    width: 100%;
    height: 65px;
    margin: 0 auto;
}

#s-t-fd-view  {
    display: flex;
    margin: 10px 0 20px;
}

#s-t-fd-view > div > a > div {
    margin-right: 10px;
    background-color: white;
    border: #448AFF 1px solid;
    font-size: 1rem;
    align-items: center;
    color: black;
    display: flex;
}

@media screen and (max-width: 30rem) {
    #feedView {
        margin-bottom: 10px;
        border-radius: 1rem;
        padding: 23px;
    }

    #headings {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
    }

    #title {
        width: max-content;
        font-size: 25px;
        line-height: 30px;
    }

    #headings:after {
        content : "";
        position: absolute;
        z-index : 1;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background-image: linear-gradient(to right,
        rgba(255,255,255, 0) 95%,
        rgba(255,255,255, 1) 100%);
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #p-pic-sk-ldg {
        display: none;
    }

    #intro {
        font-size: 18px;
        line-height: 27px;
        width: max-content;
    }

    #intro > a {
        pointer-events: none;
    }

    #s-t-fd-view > div > a {
        pointer-events: none;
    }

    #timestamp {
        font-size: 15px;
        line-height: 25px;
        width: max-content;
    }

    #s-t-fd-view > div > a > div {
        font-size: 15px;
        line-height: 25px;
    }

    #feedView > #upper > #headings > #j-t-b-browser-pg {
        margin-top: 5px;
        font-size: 15px;
        line-height: 25px;
    }

    #feedView > #upper > #headings > #j-t-b-browser-pg > img {
        height: 15px;
        width: 15px;
    }

    #s-t-fd-view {
        margin-bottom: 10px;
    }

    #f-bx-wrapper > span > button {
        transform: scale(0.8,0.8);
    }

    #feedView {
        min-height: max-content;
    }
}