#upper {
    display: flex;
}

#title {
    font-size: 35px;
    line-height: 45px;
}

#intro {
    font-size: 25px;
    line-height: 35px;
}

#timestamp {
    font-size: 1.1rem;
    margin-top: 8px;
}

#headings {
    min-width: 350px;
}

#feedView {
    padding: 30px;
    border-radius: 2rem;
    background-color: white;
    margin-bottom: 40px;
    min-height: 320px;
}

#pPic {
    display: inline-block;
    width: 150px;
    height : 150px;
    border-radius: 50%;
    border: 10px #EEEEEE solid;
    position: relative;
    top: -15px;
}

#p-pic-sk-ldg {
    display: inline-block;
    width: 150px;
    height : 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#summary {
    margin: 10px auto;
    font-size: 1.1rem;
}

#summaryContainer {
    height: 67px;
    overflow: hidden;
    position: relative;
}

#summaryContainer:after {
    content : "";
    position: absolute;
    z-index : 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(255,255,255, 0) 70%,
    rgba(255,255,255, 0.4) 80%,
    rgba(255,255,255, 0.5) 90%,
    rgba(255,255,255, 1.0) 100%);
    width: 100%;
    height: 65px;
    margin: 0 auto;
}