#greetBox {
    width: 100%;
    height: 30px;
    font-family: 'Varela Round', sans-serif;
    background-color: white;
}

#composeLink {
    font-weight: normal;
    margin-right: 15px;
    align-self: center;
}
#greeting {
    font-weight: normal;
    margin-left: 15px;
    align-self: center;
}

#wishText {
    display: none;
    font-weight: normal;
    margin-right: 15px;
    align-self: center;
}