#genreWrapper {
    width: auto;
    margin-bottom: 20px;
    font-family: 'Consolas', monospace;
    background: white;
    margin-top: 10px;
}

#genreElementsWrapper{
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#leftButtonGenreBox {
    height: 20px;
    width: 20px;
    background: white;
    opacity: 0;
    position: absolute;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

#leftButtonGenreBox:hover {
    opacity: 100;
}

#rightButtonGenreBox {
    height: 20px;
    width: 20px;
    left: calc(100vw - 37px);
    background: white;
    opacity: 0;
    position: absolute;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

#rightButtonGenreBox:hover {
    opacity: 100;
}




