#m-b-login-pg {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}


#loginBox {
	height: max-content;
	width: 310px;
	border-radius: 1rem;
	text-align: center;
	animation: fadeIn 0.5s 1 forwards;
}

.boxHeading {
	margin-top: 10px;
	margin-bottom: 35px;
	font-family: 'Quicksand', sans-serif;
	font-size: 3rem;
	font-weight: bolder;
	color: white;
}

.inputBox {
	height: 30px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 2px white;
	background-color: transparent;
	margin-left: 10px;
	color: white;
}

.inputBox:focus {
	outline: none;
}


#inputLabelLgBx {
	margin-top: 70px;
	text-align: left;
	margin-left: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	font-weight: bolder;
	color: white;
}

#loginBox > span > button {
	margin: 30px 0 20px 0;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 1rem;
	font-size: 1rem;
	font-weight: bolder;
	background-color: #0064FFFF;
	font-family: 'Quicksand', sans-serif;
	outline: none;
	cursor: pointer;
}

#registerInstead {
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	font-weight: bolder;
	color: white;
	cursor: pointer;
}

#rst-psw {
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	font-weight: bolder;
	color: white;
	margin: 10px 0;
	cursor: pointer;
}

@media screen and (min-width: 30rem) {
	#loginBox {
		background: rgba(0,0,0,0.2) ;
	}
}

@media screen and (max-width: 60em) and (min-width: 30em) {

}

@media screen and (min-width: 60em) {

}