#m-box-wrapper {
    border-radius: 2rem;
    min-width: 55vw;
    min-height: 20vh;
    padding: 25px;
    background: rgb(255,255,255);
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    top: calc(50% - (0.5 * 20vh));
    left: calc(50% - (0.5 * 55vw));
    z-index: 500;
    animation: fadeEntry 0.5s ease-out 0.1s alternate 1 backwards running;
}

#m-box-wrapper>button {
    max-width: 75px;
}

#m-m-box {
    text-align: center;
    font-family: 'Consolas', monospace;
    margin-bottom: 3vh;
    font-size: 1.1rem;
}

#l-m-box {
    display: flex;
}

#l-w-m-box {
    margin: 0 auto;
    transform: scale(1.5, 1.5);
}

#c-b-m-box {
    margin: 0 auto;
}

#d-l-b-m-box {
    display: flex;
    margin: 0 auto;
}

#d-b-m-box>button {
    margin-right: 2vw;
}

#l-b-m-box>button {
    margin-left: 2vw;
}

.ldr1 {
    background-color: #24292e !important;
}

.ldr2 {
    background-color: blueviolet !important;
}

.ldr3 {
    background-color: #24292e !important;
}

.ldr4 {
    background-color: blueviolet !important;
}

.ldr5 {
    background-color: #24292e !important;
}