#m-b-st-element {
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 2rem;
    background: aliceblue;
    margin: 20px auto;
}

.t-st-element {
    font-size: 1.5rem;
    display: inline;
}

.n-st-element {
    font-size: 1.1rem;
    margin-left: 10px;
    display: inline;
}