.genreBoxElement {
    color: white;
    height: 20px;
    padding: 0 10px;
    width: max-content;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    animation: fadeEntry 0.3s ease-out alternate 1 backwards running;
}

.genreBoxElement:hover {
    background-color: #f9f9f9 !important;
    color: #24292e !important;
}
