#s-element-wrapper {
    width: 60%;
    background: #FEFDFF;
    height: max-content;
    border-radius: 1.8rem;
    padding: 10px 20px;
    margin: 0 auto 20px auto;
}

.n-i-s-element-wrapper {
    display: flex;
    align-items: center;
}

.i-s-element {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.n-s-element {
    margin-left: 10px;
}

.f-button-s-element > button{
    margin-right: 20px;
    padding: 7px 15px;
}