#blackScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    animation: fadeEntry 0.3s ease-out 0.1s alternate 1 backwards running;
}

@keyframes fadeEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}