#greetBox {
    display: flex;
    height: 30px;
    background-color: rgba(255,255,255,1);
    margin: 0 20px 0 20px;
    border-radius: 1rem;
}

#composeLink {
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-right: 15px;
    align-self: center;
}
#greeting {
    flex-grow: 99;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    align-self: center;
}
