.homePageBackground {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../assets/image_2.jpg) no-repeat;
    background-size: cover;
    animation: fadeIn 0.3s 1 forwards;
}