#loader {
    position: fixed;
    top: calc(50% - 32px);
    left: calc(50% - 30px);
    z-index: 2;
    animation: fadeEntry 0.5s ease-out 0.1s alternate 1 backwards running;
    transform: scale(1.5,1.5);
}

#ldr1 {
    background-color: white;
}

#ldr2 {
    background-color: blueviolet;
}

#ldr3 {
    background-color: white;
}

#ldr4 {
    background-color: blueviolet;
}

#ldr5 {
    background-color: white;
}