#boxWrapper {
	width: 65vw;
	margin: 0 auto;
}

#topBox {
	background: #24292e;
	display: flex;
	width: 100%;
	height: 30vh;
	color: white;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
}

#bottomBox {
	background: #f9f9f9;	
	width: 100%;
	height: 70vh;
}

#pImg {
	width: 25vh;
	border-radius: 50%;
	border: 7px solid white;
	margin-left: 20px;
}

#detailWrapper {
	margin-left: 30px;
}

#goToHome {

}