#topMostBar {
    height: 250px;
    background-color: #24292e;
    width: calc(100vw);
    transition: height 0.3s ease-in-out;
}

#galaxyPic {
    display: block;
    margin-left: calc(50vw - 50px);
    height: 100px;
    width: 110px;
    animation: fadeEntry 1.5s ease-out 0.1s alternate 1 backwards running;
}

#logoText {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    animation: fadeEntry 1.5s ease-out 0.3s alternate 1 backwards running;
}

#searchWrapper {
    display: flex;
    margin-top: 20px;
    margin-left: calc(50% - 240px);
    animation: fadeEntry 1.5s ease-out 0.5s alternate 1 backwards running;
}

#searchGlassImage {
    height: 30px;
}

#searchBox {
    height: 30px;
    width: 450px;
    font-family: 'Raleway', monospace;
    font-size: 1rem;
    font-weight: normal;
    padding: 0 10px 0 10px;
    outline: none;
    background-color: rgb(255,255,255);
    display: block;
}

#profilePic {
    display: none;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

#searchOpenImage {
    display: none;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

@keyframes fadeEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


