#o-box-browser-pg {
    background: transparent;
}

#m-box-browser-pg {
    min-height: 125vh;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0);
    border-radius: 1rem;
    overflow: hidden;
}

#t-box-browser-pg {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    min-height: 25vh;
    font-family: 'Quicksand', sans-serif;
    padding: 30px 50px;
    background: rgba(255,255,255,0.9);
}

#b-box-browser-pg {
    font-family: 'Quicksand', sans-serif;
    line-height: 27px;
    min-height: 100vh;
    font-size: 1.2rem;
    padding: 20px 50px;
    background: white;
}

#h-t-b-browser-pg {
    display: flex;
    flex-direction: column;
}

#t-t-b-browser-pg {
    font-size: 3rem;
    line-height: 70px;
}

#i-t-b-browser-pg {
    font-size: 1.7rem;
    line-height: 40px;
}

#s-t-b-browser-pg {
    font-size: 1.3rem;
    line-height: 40px;
}

#l-t-b-browser-pg {
    width: 25px;
    background: white;
    padding: 3px;
    border-radius: 47%;
    margin-right: 10px;
}

#x-t-b-browser-pg {
    width: 25px;
    background: white;
    padding: 3px;
    border-radius: 47%;
}

#j-t-b-browser-pg {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

#z-t-b-browser-pg {
    width: 20px;
    height: 20px;
    background: white;
    padding: 3px;
    border-radius: 50%;
    margin-right: 5px;
}

#y-t-b-browser-pg {
    width: 20px;
    height: 20px;
    background: white;
    padding: 3px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

@media screen and (max-width: 30rem) {
    #m-box-browser-pg {
        width: 97%;
        border-radius: 0.3rem;
    }

    #t-box-browser-pg {
        padding: 15px;
        flex-direction: column;
        background: white;
    }

    #h-t-b-browser-pg {
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    #h-t-b-browser-pg:after {
        content : "";
        position: absolute;
        z-index : 1;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background-image: linear-gradient(to right,
        rgba(255,255,255, 0) 95%,
        rgba(255,255,255, 1) 100%);
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #t-t-b-browser-pg {
        font-size: 1.6rem;
        line-height: 2rem;
        width: max-content;
    }

    #i-t-b-browser-pg {
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: max-content;
    }

    #s-t-b-browser-pg {
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: max-content;
    }

    #j-t-b-browser-pg {
        margin-top: 0.2rem;
        margin-bottom: 0.3rem;
        margin-left: 0.3rem;
    }

    #h-t-b-browser-pg > #j-t-b-browser-pg {
        margin-top: 5px;
        font-size: 15px;
    }

    #h-t-b-browser-pg > #j-t-b-browser-pg > img {
        height: 15px;
        width: 15px;
    }

    #b-box-browser-pg {
        padding: 15px;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

