#m-b-tag-browser {
    background: transparent;
}

#c-w-tag-browser {
    width: 60%;
    margin: 10px auto;
    background: rgba(255,255,255,0.5);
    border-radius: 0.5rem;
    padding: 10px 0;
}

#t-b-tag-browser {
    display: flex;
    border-bottom: 1px solid black;
    width: 85%;
    margin: 25px auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    padding: 20px;
    align-items: center;
}

#r-b-tag-browser {
    width: 65%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}