#m-b-tag-browser {
    background: #FAFAFA;
}

#c-w-tag-browser {
    width: 1000px;
    margin: 10px auto;
    background: white;
    border-radius: 3rem;
    padding: 10px 0;
}

#t-b-tag-browser {
    display: flex;
    border-bottom: 1px solid black;
    width: 85%;
    margin: 25px auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    padding: 20px;
    align-items: center;
}

#r-b-tag-browser {
    width: 65%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}