#m-b-compose-pg {
    background: transparent;
}

#e-wrap-compose-pg {
    width: 70%;
    margin: 20px auto;
    background: white;
    padding: 50px 60px 20px 60px;
    border-radius: 1rem;
}

#t-e-compose-pg {
    display: flex;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;
    font-weight: normal;
}

#t-e-compose-pg > span {
    width: 100px;
}

#t-e-compose-pg > input {
    flex: 1;
    margin-left: 10px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
}

#x-e-compose-pg {
    display: flex;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 30px;
}

#x-e-compose-pg > span {
    margin-right: 10px;
    width: 100px;
}

#s-e-compose-pg {
    display: flex;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;
}

#s-e-compose-pg > input {
    flex: 1;
    margin-left: 10px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
}

#s-e-compose-pg > span {
    width: 100px;
}


#b-c-compose-pg {
    margin-top: 20px;
}

#b-c-compose-pg > button{
    margin: 10px auto;
    display: block;
}

.ql-editor {
    padding: 10px 30px;
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
    font-size: 1.2rem;
}

.basic-multi-select {
    flex: 1;
}