@media screen and (max-width: 480px){
    #logoText {
        font-size: 1.5rem;
    }

    #topMostBar {
        height: 40px;
    }

    #galaxyPic {
        height: 30px;
        width: 30px;
    }

    #profilePic {
        display: block;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
    }

    #searchOpenImage {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}