#recBoxWrapper {
    padding: 5px;
    height: 83px;
    width: 60%;
    margin: 10px auto;
    background: rgba(255,255,255,0.5);
    border-radius: 2rem;
    align-items: center;
}

#recBoxWrapper > div {
    animation: fadeEntry 0.1s ease-out alternate 1 backwards running;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

#userRecBoxLoaderWrapper {
    margin: 0 auto;
    transform: scale(1.2,1.2);
}

@keyframes fadeEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}