#m-b-welcome-pg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

#w-t-welcome-pg {
    display: flex;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    color: white;
}

#l-welcome-pg {
    font-size: 7rem;
    margin-bottom: 30px;
}

#s-welcome-pg {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

#b-welcome-pg {
    text-align: center;
}

#b-welcome-pg > button {
    margin: 10px;
    width: 100px;
    background: #3D5AFE;
    color: white;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    padding: 11px 20px;
    cursor: pointer;
}

#t-h-welcome-pg {
    position: fixed;
    z-index: 999;
    top: 0;
    height: 40px;
    width: 100%;
    background: black;
    border-bottom: 10px white solid;
}

#b-h-welcome-pg {
    position: fixed;
    z-index: 999;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: black;
    border-top: 10px white solid;
}