#backgroundLoader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9;
}

#back-loader-img {
    animation: fadeIn 1s 1 forwards;
    min-width: 100%;
    min-height: 100%;
}