.emptySpace {
     flex-grow: 100;
 }

a {
    text-decoration: none;
    display: block;
}

.top-right {
    transform: scale(0.85,0.85);
}

.redux-toastr {
    font-family: 'Comfortaa', sans-serif;
}

.rrt-message {
    font-family: 'Comfortaa', sans-serif!important;
}