.userImgInRecBox {
    border-radius: 50%;
    animation: fadeEntry 0.3s ease-out alternate 1 backwards running;
    display: none;
}

.recBoxUserImageWrapper {
    height: 70px;
    width: 70px;
    margin-left: 5px;
}