#m-b-register-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#registerBox {
    width: 325px;
    height: 520px;
    border: solid 1px white;
    border-radius: 1rem;
    background: rgba(0,0,0,0.2);
    text-align: center;
    animation: fadeIn 0.5s 1 forwards;
}

#registerBox > button {
    margin: 30px 0 20px 0;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #0064FFFF;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    cursor: pointer;
}

#inputLabelRgBx {
    margin-top: 60px;
    text-align: left;
    margin-left: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}


#registerButton {
    margin-top: 25px;
    margin-bottom: 15px;
    height: 40px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #0064FFFF;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    cursor: pointer;
}

#loginInstead {
    display:block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}