@media screen and (max-width: 1370px){
    #editButtonOnProfilePage {
        margin-left: 50%;
    }
}

@media screen and (max-width: 1100px){
    #editButtonOnProfilePage {
        margin-left: 40%;
    }
}

@media screen and (max-width: 910px){
    #editButtonOnProfilePage {
        margin-left: 30%;
    }
}


@media screen and (max-width: 790px){
    #editButtonOnProfilePage {
        margin-left: 20%;
    }
}

@media screen and (max-width: 660px){
    #editButtonOnProfilePage {
        margin-left: 10%;
    }
}

/*After 660px everything turns into mobile type view*/