#profilePageBoxWrapper {
	width: 70%;
	margin: 0 auto;
	height: 700px;
}

#topBoxProfilePage {
	width: 100%;
	height: 180px;
	color: white;
	font-family: 'Caveat', sans-serif;
	font-size: 1.5rem;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

#profileImgOnProfilePage {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 5px solid #E0E0E0;
	position: absolute;
}

#nameOnProfilePage {
 	color: black;
	margin-left: 200px;
	display: inline;
	position: relative;
	top: -15px;
	font-weight: bold;
}

#lineOnProfilePage {
	width: 85%;
	margin: 5px auto;
	background-color: black;
	border: 1px solid black;
}

#nameAndImgWrapperOnProfilePage {
	width: 100%;
}

#basicInfoProfilepage{
	height: 80px;
	border-style: solid; 
	margin-left: 161px;
	margin-right: 100px;
}

#dateEmailInfo{
	margin: 10px;
	font-family: 'Caveat', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

#achievementsInfoProfilepage{
	height: 150px;
	border-style: solid;
	margin-left: 161px;
	margin-right: 100px;
	margin-top: 5px;
}
#folmillikeviewInfo{
	margin : 10px;
	font-family: 'Caveat',sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

#advancedInfoProfilepage{
	height: 210px;
	border-style: solid;
	margin-left: 161px;
	margin-right: 100px;
	margin-top: 5px;
}

#folBioPrivacy{
	margin : 10px;
	font-family: 'Caveat',sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

.ed-acct{
	margin-left: 600px;
	top: -50px;
	position: relative;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	border-radius: 1.5rem;
	font-size: 1.5rem;
	background-color: #0064FFFF;
	cursor: pointer;
	border: none;
	font-weight: bold;
	display: flex;
}