#profileBoxWrapper {
	width: 100vw;
	animation: fadeIn 0.5s 1 forwards;
}

#topBox {
	background: #24292e;
	display: flex;
	width: 100vw;
	margin: 0 auto;
	height: 30vh;
	color: white;
	align-items: center;
	font-family: 'Caveat', sans-serif;
	font-size: 2rem;
}

#midBox {
	background: white;
    width: 100vw;
	height: 5vh;
	margin: 0 auto;
	font-size: 1.1rem;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	border: 1px lightgrey solid;
}

#bottomBox {
	background: #f9f9f9;
	height: 500px;
    width: 100vw;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3rem;
	border-left: 1px lightgrey solid;
	border-right: 1px lightgrey solid;
	border-bottom: 1px lightgrey solid;
}

#pImg {
	width: 25vh;
	border-radius: 50%;
	border: 7px solid white;
	margin-left: 25px;
}

#detailWrapper{
	display:flex;
	padding: 3px;
	margin-left: 5%;
	margin-right: 5%;
}

#a {
	display: flex;
	margin-top: 5px;
}

#n {
	text-align: right;
}

#naWrapper{
	margin-right: 50px;
}

#mFollower{
	width: 30px;
	height: 30px;
	margin-right: 1%;
}

#mFollowing{
	width: 30px;
	height: 30px;
	margin-right: 1%;
	margin-left: 25%;
}

#mPraises{
	width: 30px;
	height: 30px;
	margin-right: 1%;
	margin-left: 25%;
}

#mViews{
	width: 30px;
	height: 30px;
	margin-right: 1%;
	margin-left: 25%;
}

#db{
	margin-top: 30px;
	width: 100%;
}

#place{
	margin-top: 30px;
	width: 100%;
}

#prof {
	margin-top: 30px;
	width: 100%;
}

#bio{
	margin-top: 20px;
	width: 100%;
}

#ed-acct{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-family: 'Caveat', monospace;
}

#edit{
	padding: 15px;
	color: white;
	border-radius: 2rem;
	font-size: 1.5rem;
	background-color: #0064FFFF;
	cursor: pointer;
	border: none;
}

.star {
	width: 15px;
	height: 15px;
}