#topBoxProfilePage{
	display: flex;
	margin: 0 auto;
	height: 30vh;
	width: 100%;
	color: white;
	align-items: center;
	font-family: 'Caveat', sans-serif;
	font-size: 2rem;
}

#pImg {
	width: 25vh;
	border-radius: 50%;
	border: 7px solid white;
	margin-left: 25px;
}

#n{
 color: #000;
 height: 85%;
}

#line{
	border: 1px solid black;
    width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}